// switch the color theme in valo by uncommentting and changing the $v-background-color value
//$v-background-color: hsl(300, 10%, 50%);

//@import "../reindeer/reindeer.scss";

@import "../valo/valo";
@import "addons.scss";

// next line is required if gantt-valo theme used. Check the correct path from addons.scss, 
// gantt-valo.scss is located in the same folder as gantt.scss.
@import "../../../VAADIN/addons/gantt/gantt-valo.scss";

.demo {

	//@include reindeer;
	
	@include valo;
	@include addons;
	
	// next line takes the gantt-valo.scss theme in use
	@include gantt-valo;
}
